body{
    background: url('../images/wall.jpg') !important;
}

.leftside{
    margin-left:10%;
    margin-top:5%;
}
#edit{
    margin-left: 10%;
    margin-top: 6%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    background: #1c8adb;
    color: white;
    font-size: 20px;

}

img{
	  
	  display: block !important;
	  max-width:500px !important;
	  max-height:500px !important;
	  width: auto !important;
	  height: auto !important;
}

#identity{
    background: white;
}